# Python
__pycache__/
*.py[cod]
*.pyo

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# Virtual environment
venv/

# OS
.DS_Store

data.json
blog_data.json